<div class="row">
 <button class="btn btn-warning" (click)="nextMovie()">Next</button>
</div>
<div class="row">

    <div class="col-6 m-auto">
        <div class="card">
          <img
            [src]="'http://image.tmdb.org/t/p/w500/'+selectedMovie.poster_path"
            class="card-img-top"
            alt="{{ selectedMovie.title }}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ selectedMovie.title }}
            </h5>
            <p class="card-text">
              {{ selectedMovie.overview }}
            </p>
            <h3>{{ selectedMovie.release_date }}</h3>
            <p>rating :{{ selectedMovie.vote_average / 2 }}</p>
      
            <button class="btn btn-primary">Watch Trailer</button>
          </div>
        </div>
      </div>
</div>

